<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Image Library NASA API
    </title>
    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <!-- Vue.js app -->
    <div id="app">
        <div class="container">
            <!-- Row 1 -->
            <div class="row">
                <div class="col-sm-12 border border-primary">
                    <div class="input-group input-group-sm mb-3 mt-2">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                        <!-- When the search input changes then call the apiFetch() function -->
                        <input type="text" class="form-control" v-model.lazy="search" @change="apiFetch()" />
                        <!-- Debug -->
                        <!-- <p>{{ search }}</p> -->
                    </div>
                </div>
            </div>
            <!-- Row 2 -->
            <!-- This div element will only exist if the data is NOT null, that is, if data is received while fetching the API -->
            <div v-if="data">
                <!-- We can either take the length of the items array OR take the number of hits from metadata -->
                <div v-if="data.collection.metadata.total_hits > 0">
                    <div v-for="(item, index) in data.collection.items" :key="index">
                        <!-- <strong>ITEMS:</strong> {{ item }} -->
                        <!-- <strong>ITEM DATA:</strong> {{ item.data }} -->
                        <!-- <strong>ITEM LINK:</strong> {{ item.link }} -->
                        <div class="row">
                            <div class="row-cols-1 g-3">
                                <!-- {{ item.links[0].href }} - {{ item.data[0].title }} : {{ item.data[0].description }} -->
                                <!-- Card 1 -->
                                <div class="card">
                                    <img :src="item.links[0].href" class="card-img-top" alt="item.data[0].title">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.data[0].title }}</h5>
                                        <p class="card-text">{{ item.data[0].description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vue.js plug-ins -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Vue Masonry plug-ins -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>
    <script>
        const app = {
            data() {
                return {
                    search: null,
                    data: null,
                    media_type: "image",
                    page: "1"
                }
            },
            methods: {
                apiFetch() {
                    fetch("https://images-api.nasa.gov" + "/search?q=" + this.search +
                        "&media_type=" + this.media_type +
                        "&page=" + this.page)
                        .then(response => response.json())
                        .then(data => this.data = data)
                        .then(error => console.log(error))
                }
            }
        }

        Vue.createApp(app)
            .mount("#app")
    </script>
</body>

</html>