<section class="background">
    <div class="row justify-content-center">
        <div class="col-4 border text-end">
            BACKGROUND
        </div>
        <div class="col-6 border">
            <p>
                I love brainstorming ideas on paper and writing code to make those ideas happen. 
                If I have to deep-dive into technologies then it’s an added bonus. 
            </p>

            <p>
                I have enjoyed working across many diverse teams with a focus on customer service.
                And I grasp new concepts quickly by reading documentation, often, with minimal training. 
                With a strong foundation in Computer Science and hunger for continuous learning, 
                I am committed to leveraging my technical skills to solve complex problems.
            </p>
            
            <p>
                My specialties include problem solving, analysing requirements, 
                writing testable code, unit testing and documentation. 
                I have a keen interest in software design patterns and system design.
                I’m still enthusiastically grabbing onto any programming languages, frameworks, or principles 
                I can integrate into the coding web in my head.
            </p>    
        </div>
    </div>
</section>