/Bug-Tracker/BT-Entity/nbproject/private/
/Bug-Tracker/BT-JPA/nbproject/private/
/Bug-Tracker/BT-JPA/build/
/Bug-Tracker/BT-Entity/build/
/Bug-Tracker/BT-Entity/dist/
/Bug-Tracker/BT-JPA/dist/
/Bug-Tracker/BT-DTO-RI/nbproject/private/
/Bug-Tracker/BT-JEE/nbproject/private/
/Bug-Tracker/BT-JEE/BT-JEE-war/nbproject/private/
/Bug-Tracker/BT-JEE/BT-JEE-ejb/nbproject/private/
/Bug-Tracker/BT-JEE-AppClient/nbproject/private/
/Bug-Tracker/BT-DTO-RI/build/
/Bug-Tracker/BT-JEE-AppClient/build/
/Bug-Tracker/BT-DTO-RI/dist/
/Bug-Tracker/BT-JEE-AppClient/dist/
/Bug-Tracker/BT-JEE/build/
/Bug-Tracker/BT-JEE/BT-JEE-ejb/build/
/Bug-Tracker/BT-JEE/BT-JEE-ejb/dist/
/Bug-Tracker/BT-JEE/dist/
/Bug-Tracker/BT-JEE/BT-JEE-war/build/
/Bug-Tracker/BT-JEE/BT-JEE-war/dist/
