<section class="skills">
    <div class="row mt-5 justify-content-center">
        <div class="col-4 border text-end">
            SKILLS
        </div>
        <div class="col-2 border">
            <ul style="list-style-type: none;">
                <li>C#</li>
                <li>.NET</li>
                <li>SQL</li>
                <li>ORM</li>
                <li>MQ/ESB</li>
            </ul>
        </div>
        <div class="col-2 border">
            <ul style="list-style-type: none;">
                <li>OOP</li>
                <li>Git</li>
                <li>HTML/CSS</li>
                <li>EF</li>
                <li>Jira</li>
            </ul>
        </div>
        <div class="col-2 border">
            <ul style="list-style-type: none;">
                <li>Unit Testing</li>
                <li>Web API</li>
                <li>Design Patters</li>
                <li>MVC</li>
                <li>SPA</li>
            </ul>
        </div>
    </div>
</section>