<section class="experience">
    <div class="mt-5 row justify-content-center">
        <div class="col-sm-4 border text-end">
            EXPERIENCE
        </div>  
        <div class="col-sm-6 border">
            <experience [position]="position1" [time]="time1" [company]="company1">
            </experience>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4 border"></div>
        <div class="col-sm-6 border">
            <experience [position]="position1" [time]="time1" [company]="company1">
            </experience>
        </div>
    </div>
</section>